.aside {
    grid-area       : a;
    background-color: tomato;
    display         : grid;
    align-items     : center;
}

.nav_list {
    margin-left: 30px;
}

.nav_item {
    padding: 20px;
}

.nav_link {
    color          : #fff;
    text-decoration: none;
}

.nav_link.active {
    color  : black;
    outline: none;
}