.header {
    grid-area       : h;
    background-color: #222222;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
}

.loginContainer {
    display: flex;
    align-items: center;
}

.header p,
.header a{
    margin-left: 20px;
    color      : #61DAFB;
    font-size  : 30px;
}

.header img {
    max-height: 80px;
}

@media (max-width: 490px) {
    .header p {
        margin-left: 15px;
        font-size  : 16px;
    }
}