@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

.app-wrapper {
    display              : grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows   : 100px 1fr 100px;
    grid-template-areas  :
        "h h"
        "a m"
        "f f";
    grid-gap: 10px;

    font-family: 'Open Sans', sans-serif;
}